# python artifacts
__pycache__
*.pyc

# virtualenv
/.venv/
/abusor.egg-info/

# deployment files
static/

# test database
/abusor/*.sqlite3

# pytest artifacts
/.coverage
/.pytest_cache

# configuration
/abusor/settings/custom.py