# Copy this file to 'custom.py' and adapt as needed.
# You can put all settings here that should not be in VCS.

# configure database
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'HOST': '/run/mysqld/mysqld.sock',
        'PORT': '',
        'USER': 'abusor',
        'PASSWORD': 'secret',
        'NAME': 'abusor',
        'ATOMIC_REQUESTS': True,
        'OPTIONS' : {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES'",
        },
    },
}

# disable debugging
DEBUG = False

# set a secret key
SECRET_KEY = ''

# set a hostname that will be used
ALLOWED_HOSTS = ['abusor.example.com']
